equitelprocessor/web/WEB-INF/wsdl/172.27.116.36_8084/pdslvending/Requests.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vending.pdsl.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://vending.pdsl.com/" name="Requests">
<types>
<xsd:schema>
<xsd:import namespace="http://vending.pdsl.com/" schemaLocation="http://172.27.116.36:8084/pdslvending/Requests?xsd=1" />
</xsd:schema>
</types>
<message name="prepaidVend">
<part name="parameters" element="tns:prepaidVend" />
</message>
<message name="prepaidVendResponse">
<part name="parameters" element="tns:prepaidVendResponse" />
</message>
<message name="prepaidMeterQuery">
<part name="parameters" element="tns:prepaidMeterQuery" />
</message>
<message name="prepaidMeterQueryResponse">
<part name="parameters" element="tns:prepaidMeterQueryResponse" />
</message>
<message name="postpaidAccountQuery">
<part name="parameters" element="tns:postpaidAccountQuery" />
</message>
<message name="postpaidAccountQueryResponse">
<part name="parameters" element="tns:postpaidAccountQueryResponse" />
</message>
<message name="postpaidVend">
<part name="parameters" element="tns:postpaidVend" />
</message>
<message name="postpaidVendResponse">
<part name="parameters" element="tns:postpaidVendResponse" />
</message>
<message name="airtimeVend">
<part name="parameters" element="tns:airtimeVend" />
</message>
<message name="airtimeVendResponse">
<part name="parameters" element="tns:airtimeVendResponse" />
</message>
<portType name="Requests">
<operation name="prepaidVend">
<input wsam:Action="http://vending.pdsl.com/Requests/prepaidVendRequest" message="tns:prepaidVend" />
<output wsam:Action="http://vending.pdsl.com/Requests/prepaidVendResponse" message="tns:prepaidVendResponse" />
</operation>
<operation name="prepaidMeterQuery">
<input wsam:Action="http://vending.pdsl.com/Requests/prepaidMeterQueryRequest" message="tns:prepaidMeterQuery" />
<output wsam:Action="http://vending.pdsl.com/Requests/prepaidMeterQueryResponse" message="tns:prepaidMeterQueryResponse" />
</operation>
<operation name="postpaidAccountQuery">
<input wsam:Action="http://vending.pdsl.com/Requests/postpaidAccountQueryRequest" message="tns:postpaidAccountQuery" />
<output wsam:Action="http://vending.pdsl.com/Requests/postpaidAccountQueryResponse" message="tns:postpaidAccountQueryResponse" />
</operation>
<operation name="postpaidVend">
<input wsam:Action="http://vending.pdsl.com/Requests/postpaidVendRequest" message="tns:postpaidVend" />
<output wsam:Action="http://vending.pdsl.com/Requests/postpaidVendResponse" message="tns:postpaidVendResponse" />
</operation>
<operation name="airtimeVend">
<input wsam:Action="http://vending.pdsl.com/Requests/airtimeVendRequest" message="tns:airtimeVend" />
<output wsam:Action="http://vending.pdsl.com/Requests/airtimeVendResponse" message="tns:airtimeVendResponse" />
</operation>
</portType>
<binding name="RequestsPortBinding" type="tns:Requests">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="prepaidVend">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="prepaidMeterQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="postpaidAccountQuery">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="postpaidVend">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="airtimeVend">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Requests">
<port name="RequestsPort" binding="tns:RequestsPortBinding">
<soap:address location="http://172.27.116.36:8084/pdslvending/Requests" />
</port>
</service>
</definitions>