chclient/xml-resources/web-service-references/CurrentParams/wsdl/subaggregator.pdslkenya.com_8084/msgoptlistener/CurrentParams.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://test.gmalto.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test.gmalto.com/">

<xs:element name="Params" type="tns:Params" />

<xs:element name="ParamsResponse" type="tns:ParamsResponse" />

<xs:complexType name="Params">
<xs:sequence>
<xs:element name="getem" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParamsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>